
@{
    ViewBag.Title = "Index";
}

<h3>Aprendendo Angular</h3>
<hr />

<div ng-controller="empresasCtrl">
    <table class="table table-striped">
        <tr ng-repeat="empresa in empresas">
            <td> {{empresa.RazaoSocial }} </td>
            <td class="text-right">
                <button class="btn btn-danger" ng-click="DeletaEmpresa(empresa)" data-toggle="tooltip" title="Clique para Deletar Empresa">X</button>
            </td>
        </tr>
        @*<tr>
            <th>Nome da Empresa &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CNPJ</th>
        </tr>*@
        @*<tr>
            <td>
                <input type="text" required ng-model="empresa.RazaoSocial" />
                <input type="text" required ng-model="empresa.CNPJ" />
                <a href="#" class="btn btn-primary" ng-click="AddEmpresa(empresa)" ng-disabled="!empresa.RazaoSocial || !empresa.CNPJ"
                   data-toggle="tooltip" title="Adicionar Empresa">Adicionar Empresa</a>
            </td>
        </tr>*@
    </table>
</div>

