@model Odonto.Domain.Entities.Funcionario

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
<hr />
<div>

   
    <div id="frmCadastro">
        <div class="row">
            <div class="col-10">
                <div class="input-group">
                    <label>Nome do Funcionário</label>
                    <input type="text" class="form-control">
                </div>

            </div>
            <div class="col-2">
                <div class="input-group">
                    <input type="submit" value="Save" />
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/FuncionarioDetalhe")
}