
@{
    ViewBag.Title = "Index";
}

<h2>Funcionários</h2>

<div ng-app="FuncionarioLista" ng-controller="FuncionarioController">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="f in funcionarios">
                    <td>
                        {{f.Id}}
                    </td>
                    <td>
                        {{f.RazaoSocial}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/FuncionarioLista")