
@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/dataTable/css")

<div>
    <h2>Funcionários</h2> <button class="btn btn-primary fa fa-plus pull-right"> Adicionar</button>
    <div class="row">
        <table class="table table-striped" id="tblFuncionarios">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>CPF</th>
                </tr>
            </thead>

        </table>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/dataTable")
    @Scripts.Render("~/bundles/FuncionarioLista")
}