
@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/DataTablejs/css")

<h2>Funcionários</h2>

<div ng-app="FuncionarioLista" ng-controller="FuncionarioController">
    <div class="row">
        <table datatable [dtOptions]="dtOptions" class="table table-striped" id="tblFuncionarios"></table>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/FuncionarioLista")
    @Scripts.Render("~/bundles/DataTablejs")
}