
@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/DataTablejs/css")

<h2>Funcionários</h2>

<div ng-app="FuncionarioLista" ng-controller="FuncionarioAPIController">
    <div class="row">
        <table class="table table-striped" id="tblFuncionarios">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Razão Social</th>
                    <th>CNPJ</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="funcionario in funcionarioList">
                    <td>{{funcionario.Id}}</td>
                    <td>{{funcionario.RazaoSocial}}</td>
                    <td>{{funcionario.CNPJ}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/FuncionarioLista")
    @Scripts.Render("~/bundles/DataTablejs")
}